/*

*/

.search-form {
  display: inline-block;
  line-height: 3;

  button[type=submit] {
    border-radius: 0 5px 5px 0;
  }

  input[type=text] {
    background: #fff;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 0 none;
    width: 160px;
  }
}
